<section class="mb-6 @container">
  <div class="flex flex-col @md:flex-row gap-6">
    @for (item of userProducts(); track item.id) {
      <app-card class="w-1/3 h-30 @max-lg:w-100  @md:gap-4 @sm:max-md:grow">
        <div class="card-header">
          <h3 class="text-lg flex justify-between">
            {{ item.name }}
            <span class="text-right">{{
              item.balance ?? 0 | currency
            }}</span>
          </h3>
        </div>
        <div class="card-footer mt-6">
          <hr class="text-gray-100" />
          <div class="card-footer flex justify-between gap-4">
            @if (item.card) {
              <app-button-card
                [buttonAttrTitle]="'View card details'"
                [buttonIconName]="'credit-card'"
                (buttonClick)="viewCardDetails(item.card)"
              />
            }
            <app-button-card
              [buttonAttrTitle]="'Deposit funds'"
              [buttonIconName]="'deposit-funds'"
            />
            <app-button-card
              [buttonAttrTitle]="'Withdraw funds'"
              [buttonIconName]="'withdraw-funds'"
            />
            @if (item.card && !item.card.isLocked) {
              <app-button-card
                [buttonAttrTitle]="'Unlock card'"
                [buttonIconName]="'unlock'"
              />
            } @else {
              <app-button-card
                [buttonAttrTitle]="'Lock card'"
                [buttonIconName]="'lock'"
              />
            }
          </div>
        </div>
      </app-card>
    }
  </div>
</section>
