<section class="grid grid-cols-1">
  <app-navbar />
  <img
    #imgBanner
    [src]="baseUrl + 'products/credit-card.jpg'"
    alt="Credit Card Banner"
    class="rounded-lg aspect-[16/9]"
  />

  <div class="content mt-6 p-6">
    <h3 class="font-bold text-2xl text-center">Our Credit Cards</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      @for (creditCard of creditCards(); track creditCard.id) {
        <app-card
          [header]="creditCard.name"
          [subheader]="'Rate ' + creditCard.rate + '%'"
        >
          <p class="text-justify">{{ creditCard.description }}</p>
          <button
            pButton
            type="button"
            label="{{ creditCard.labelAction }}"
            class="w-full mt-2"
            (click)="applyNow(creditCard)"
          ></button>
        </app-card>
      }
    </div>
  </div>

  <p-dialog
    [header]="this.selectedCreditCard().headline"
    [modal]="true"
    [(visible)]="displayDialog"
    [style]="{width: '90vw'}"
  >
    @let selectedCreditCard = this.selectedCreditCard();
    <ng-template pTemplate="content">
      <ul style="list-style-type: disc; margin-left: 20px;">
        @for (feature of selectedCreditCard?.features; track feature) {
          <li>{{ feature }}</li>
        }
      </ul>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Apply"
        icon="pi pi-check"
        [loading]="isLoading()"
        (click)="confirmApply()"
      ></button>
    </ng-template>
  </p-dialog>
</section>
